@font-face {
  font-family: car;
  src: url(Aerospace.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: clamp(14px, 1.2vw, 20px);
}

.cointainer {
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1724391114112-c83ad59f1d5f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGNhciUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
}
.textarea {
  color: white;
  font-family: car;
  text-align: center;
  padding-top: 13rem;
  /* margin: auto; */
  /* position: absolute;
    right: 11rem;
    bottom:15rem; */
  /* position: absolute;
top: 45%;
right: 45%; */
}
.textarea h3 {
  font-size: 2.5rem;
  font-weight: 200;
  padding-top: 3rem;
}
.textarea h4 {
  font-size: 1.4rem;
  font-weight: 100;
  padding-bottom: 0.2rem;
}
button {
  padding: 0.7rem 2.5rem;
  color: rgb(36, 36, 36);
  background-color: #ecc902;
  border: none;
  border-radius: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1rem;
}
