* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* html{
  font-size: clamp(14px,1.2vw,19px);
} */

.container {
  background-color: rgb(239, 239, 239);
  max-width: 1400px;
  margin: auto;
}
.nav {
  background-color: rgb(1, 22, 97);
  text-align: center;
  color: white;
  padding: 2.5rem;
}
.nav h3 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.nav p {
  color: rgb(185, 181, 181);
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.margin {
  margin: 1.5rem;
  margin-inline: 4rem;
  padding: 2rem;

  text-align: center;
}
.about-me {
  color: black;
  text-align: center;

  background-color: #fff;
}
.about-me h3 {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: "Arial Narrow Bold", sans-serif;
  margin: 0.7rem;
}
.about-me p {
  color: rgb(115, 112, 112);
  font-family: Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
.education {
  background-color: rgb(167, 231, 253);
}
.heading4 {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Arial Narrow Bold", sans-serif;
  margin: 0.7rem;
}
.paragraph {
  background-color: rgb(255, 255, 255);
  margin: 0.85rem;
  padding: 0.9rem;
  margin-inline: 10rem;
}
.skills {
  background-color: rgb(248, 248, 108);
}

.project {
  background-color: rgb(245, 186, 245);
}

.contact {
  background-color: rgb(214, 254, 154);
}

.end {
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
}
.end p {
  margin-top: 10px;
  margin-bottom: 50px;
}
