* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
  color: white;
}
button {
  padding: 10px 20px;
  background: lightblue;
  border: none;
  border-radius: 10px;
}
img {
  width: 70%;
  /* height: 100px; */
}
#root {
  overflow: auto;
}
#root::-webkit-scrollbar {
  display: none;
}
.nav {
  width: 100%;
  padding: 10px;
  background-color: red;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .card-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
} */
.card {
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  height: 300px;
  background-color: rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-top: 10px;
  
}
.card:hover{
 /* position: absolute; */
box-shadow: 2px 3px 14px white;

}
.card-page {
  padding: 35px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow: auto;
  flex-wrap: wrap;
  gap: 20px;
}
.card-page::-webkit-scrollbar {
  display: none;
}
.details-page {
  width: 100%;
  /* height: 10%; */
  display: flex;
}
.img {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}
.img img {
  height: 80%;

  /* width: 100%; */
}
.dets {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  gap: 90px;
}
.btn1 {
  background-color: orange;
}
.btn2 {
  background-color: yellow;
}
.btn {
  display: flex;
  gap: 10px;
}
button {
  border: 0px solid black;
}
button:hover {
  border: 1px solid black;
}
button:active {
  scale: 0.95;
}
.back-btn {
  position: absolute;
  top: 10%;
  left: 0;
  background-color: rgb(207, 201, 201);
  opacity: 0.7;
}
a {
  color: white;
  text-decoration: none;
}
.links {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 750px) {
  .wrap{
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-40%);
}
  .img {
    width: 100%;
    height: 50%;
    display: block;
  }
  .img img {
    width: 100%;
    height: 100%;
  }
  .dets {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .details-page {
    display: block;
    padding: 20px;
    overflow: auto;
  }
  .details-page::-webkit-scrollbar {
    display: none;
  }
}
